
main {
  margin: 0 auto;
  padding: 4rem 0;
  width: 90%;
  max-width: 60rem;
}

form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: .1rem;
  background-color:#00000066;
  border: 1px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.full-width {
  grid-column: span 2;
}

.large-label {
  display: inline-block;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.small-label {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 1.5rem;
  font-size: 1.25rem;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

legend,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: 'Alegreya', serif;
}

input,
select,
textarea {
  font-family: 'Alegreya', serif;
  border: 2px solid #333;
  background-color: white;
  border-radius: 0.25rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(213, 90%, 70%);
}

input[type="text"],
input[type="email"],
select,
textarea {
  font-family: 'Alegreya', serif;
  font-size: 1.25rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

textarea {
  font-family: 'Alegreya', serif;
  min-height: 10rem;
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* Firefox */
  color: gray;
}

select {
  background: url("assets/down-arrow.svg") no-repeat center right 0.75rem;
  background-color: white;
}

input[type="radio"],
input[type="checkbox"] {
  font-family: 'Alegreya', serif;
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-image: radial-gradient(
    hsl(213, 73%, 50%) 40%,
    transparent calc(40% + 1px)
  );
}

input[type="checkbox"]:checked {
  background: url('assets/check.svg') no-repeat center / 75% auto;
}

button {
  font-size: 1.25em;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px black;
}

button[type="submit"] {
  background-color: hsl(213, 73%, 50%);
  color: white;
}

button[type="submit"]:hover {
  background-color: hsl(213, 73%, 40%);
}

button[type="reset"] {
  background-color: hsl(0, 10%, 43%);
  margin-left: 1rem;
  color: white;
}

button[type="reset"]:hover {
  background-color: hsl(0, 10%, 34%);
  text-decoration: none;
}